:root{
    --bgColor: #FFFFFF;
    --textColor: #002035;
    --highlightColor: #DC5800;
    --decorativeColor: #a2a2a2;
}

.navBar{
    position: sticky;
    top: 0;
}
.navMenu{
    background-color: var(--bgColor);
    width: 80%;
    margin: 0 auto;
    list-style-type: none;
    padding: 1rem 0;
}

h2{
    margin-left: 10%;
    margin-top: 10%;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    min-height: 20vh;
    width: 60%;
    margin: 0 auto;
    margin-top: 10vw;
    max-width: 1200px;
}

ul {
    list-style-position: outside;
    padding-left: 0;
    margin-left: 1em;
}

.strikeOut {
    text-decoration: line-through;
    color: var(--decorativeColor);
}

.bold{
    font-weight: 800;
}

.note{
    color: var(--decorativeColor)
}

.footer{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 400px;
    margin-bottom: 400px;
}