*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

:root{
    --bgColor: #ffffff;
    --textColor: #002035;
    --highlightColor: #DC5800;
    --decorativeColor: #a2a2a2;
      
}

@font-face {
    font-family: "Montserrat-regular";
    src: url("montserrat-v31-latin-regular.woff2") format(woff2);
}

@font-face {
    font-family: "OpenSans-500";
    src: url('open-sans-v44-latin-500.woff2') format(woff2);
}

@font-face {
    font-family: "OpenSans-regular";
    src: url('open-sans-v44-latin-regular.woff2') format(woff2);
}

::selection {
    background: #CD580050;
}

::-moz-selection {
    background: #CD580050;
}

body{
    background-color: var(--bgColor);
    color: var(--textColor);
}

h1{
    font-family: 'Montserrat-regular';
    font-size: clamp(3rem, 8vw, 10rem);
    margin-left: -0.1em;
}

h2{
    font-family: 'Montserrat-regular';
    font-size: clamp(2rem, 4vw, 8rem);
    margin-bottom: 1em;
}

p{
    font-family: "OpenSans-regular";
    font-size: clamp(1rem, 1vw, 3rem);
    margin-bottom: 1em;
}

a{
    font-family: "OpenSans-regular";
    font-size: clamp(1rem, 1.5vw, 3rem);
    color: var(--highlightColor);
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

img{
    border-radius: 5px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.bold{
    font-family: 'OpenSans-500';
}
