*{
    margin: 0;
    padding: 0;
}

:root{
    --bgColor: #FFFFFF;
    --textColor: #002035;
    --highlightColor: #DC5800;
    --decorativeColor: #a2a2a2;
    font-family: "Montserrat", sans-serif;
      
}

@font-face {
    font-family: "Montserrat";
    src: url("montserrat-v31-latin-600.woff2") format("woff2");
}

@font-face {
    font-family: "Montserrat";
    src: url("montserrat-v31-latin-regular.woff2") format("woff2");
}

::selection {
    background: transparent;
}

::-moz-selection {
    background: transparent;
}

.navBar {
    position: sticky;
    top: 0;
    background-color: var(--bgColor);
    transition: all 0.3s ease;
    z-index: 1000;
}

.navContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 0;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.navMenu {
  display: flex;
  list-style-type: none;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
}

.logo {
    font-size: clamp(1rem, 1vw, 3rem);
    font-weight: 400;
    color: var(--highlightColor);
    text-decoration: none;
    justify-content: left;
}

p{
    font-size: clamp(1rem, 1vw, 3rem);
    font-weight: 400;
    margin-bottom: 1em;
}

body{
    background-color: var(--bgColor);
    color: var(--textColor);
}

a{
    font-size: clamp(1rem, 1vw, 3rem);
    font-weight: 400;
    color: var(--highlightColor);
    text-decoration: none;
}

span.word {
    position: relative;
    display: inline-block;
}

span.word::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: var(--highlightColor);
    opacity: .3;
    transition: width 0.3s ease;
}

span.word:hover::after {
    width: 100%;
}

span.word.selected::after {
    width: 100%;
    background-color: var(--highlightColor);
    opacity: 1;
    transition: width 0.3s ease;
}

img{
    border-radius: 5px;

}