.navBar {
    position: sticky;
    top: 0;
    background-color: var(--bgColor);
    transition: all 0.3s ease;
}

.navContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 0;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.navMenu {
  display: flex;
  list-style-type: none;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
}

.navMenu li a {
    text-decoration: underline;
    color: var(--highlightColor);
    padding-right: 2em;
    font-size: clamp(1em, 1vw, 3em );
    font-weight: 500;
}

nav .fadeOnSticky {
  opacity: 0;
  transition: all .2s;
  pointer-events: none;
}

nav.is-stuck .fadeOnSticky {
  opacity: 1;
  transition: all .2s;
  pointer-events: all;
}

.showMobile{
    display: none;
}

.hero{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    min-height: 20vh;
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}

.heroWords{
    margin-top: 5vw;
    color: var(--textColor)
}

.strikeOut {
    text-decoration: line-through;
    color: var(--decorativeColor);
}

.content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 80%;
    margin: 0 auto;
    margin-top: 400px;
    max-width: 1200px;
}

.text{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    min-height: 20vh;
    width: 60%;
    margin: 0 auto;
    margin-top: 10vw;
    max-width: 1200px;

}

.footer{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 400px;
    margin-bottom: 30vw;
}

.note{
    color: var(--decorativeColor)
}

.skills{
    font-size: clamp(.8rem, 1vw, 1rem);
    font-weight: 400;
    margin-bottom: 1em;
    color: var(--decorativeColor);
}

#topContent{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 5vw;
}

#topLeft{
    display: flex;
    flex-direction: column;
    width: 50%;

}

#topLeftText{
    margin-top: 16px;
    margin-right: 16px;
}

#enschedeImage{
    width: 80%;
    height: auto;
}

#gardenImage{
    max-width: 40%;
    height: auto;
    object-fit: contain;
}

#topRight{
    display:flex;
    flex-direction: column;
    width: 45%;
}

#playfulIntelligenceImage{
    max-width: 80%;
    height: auto;
    object-fit: contain;
}

#topRightText{
    margin-top: 16px;
}

#bottomContent{
    display: flex;
    justify-content: left;
    width: 100%;
    margin: 0 auto;
}

#bottomLeft{
    display: flex;
    flex-direction: row;
    width: 50%;
}

#bottomLeftText{
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
}

@media screen and (max-width: 600px){
    #topContent{
        flex-direction: column;
        margin-bottom: 0vw;
    }
    #topLeft{
        width: 100%;
    }
    #topRight{
        margin-bottom: 20vw;
        width: 100%;
    }
    #bottomLeft{
        flex-direction: column;
        width: 100%;
        margin-bottom: 20vw;
    }
    #bottomLeftText{
        margin-left: 0px
    }
    .showMobile{
        display: block;
    }
    .hideMobile{
        display: none;
    }
    .text{
        width: 100%
    }
    .navMenu{   
        justify-content: center;

    }

}

:target {
  scroll-margin-top: 20vh;
}