*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

:root{
    --backgroundColor: #f3f3f3;
    --textColor: #000000;
    --accentColor: #dc5800;
    --grayTextColor: #868686; 
}

@font-face {
    font-family: "Roboto-regular";
    src: url('fonts/roboto-v51-latin-regular.woff2') format(woff2);
}

body{
    background-color: var(--backgroundColor);
}
nav{
    position: sticky;
    top: 0;
    background-color: var(--backgroundColor);
    width: 90%;
    height: 10%;
    margin: 0 auto;
}

.navigation a{
    font-size: clamp(0.8em, 2vw, 1em);
}

.navigation{
    display: flex;
    justify-content: space-between;
    width: 50%;
    height: 100%;
    align-items: center;
}

.progressiveBlurContainer{
    position: sticky;
    left: 0;
    right: 0;
    bottom: 0;
    top:8%;
    width: 100%;
    height: 10%;
    pointer-events: none;
}

.progressiveBlurContainer > .blurFilter {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.progressiveBlurContainer > .blurFilter:nth-child(3) {
  backdrop-filter: blur(4px);
  mask: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 0) 40%);
}

.progressiveBlurContainer> .blurFilter:nth-child(2) {
  backdrop-filter: blur(2px);
  mask: linear-gradient(rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0) 50%);
}

.progressiveBlurContainer > .blurFilter:nth-child(1) {
  backdrop-filter: blur(1px);
  mask: linear-gradient(rgba(0, 0, 0, 0) 15%, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 60%);
}

h1{
    font-family: "Roboto-regular";
    font-size: clamp(0.8em,2vw,1em);
    font-weight: 400;
}

h2{
    font-family: "Roboto-regular";
    font-size: clamp(0.8em,2vw,1em);
    margin-bottom: 20px;
    font-weight: 400;
}

p{
    font-family: "Roboto-regular";
    font-size: clamp(0.8em, 2vw, 1em);
    color: var(--textColor);
}

a{
    font-family: "Roboto-regular";
    color: var(--textColor);
    text-decoration: underline;
    text-decoration-color: #dc6e00;

}

a::after{
    content: "";
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    background-image: url(../resources/Untitled.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 0.2em; 
    vertical-align: 0.05em;
}

.gray{
    color: var(--grayTextColor)
}